body {
    background-color: gray;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    
}

.alert-custom {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 3;
}