{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}Main page{% endblock title %}

<!-- css -->

<!-- js -->
{% block script %}{% endblock script %}

<!-- html -->
{% block content %}


<div class="container">
    {% if request.user.is_authenticated %}
        <h2 class="text-center mt-4">Вітаю, {{request.user.username}}</h2>
        <h2 class="balance">Поточний баланс: {{balance}}</h2>
        <h2 class="all_incomes">Дохід за весь час: {{all_incomes}}</h2>
        <h2 class="all_expenses">Витрати за весь час: {{all_expenses}}</h2>
        <h2 class="limit_balance">Недоторканий запас: {{limit_balance}}</h2>
    {% endif %}
</div>


{% endblock content %}
